# ─── Server ───────────────────────────────
PORT=3000
NODE_ENV=development

# ─── Database ─────────────────────────────
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=lost_found_db

# ─── JWT ──────────────────────────────────
JWT_SECRET=mysupersecretkey123456789abcdef
JWT_EXPIRES_IN=7d
